*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 80%;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(78, 167, 255);
}
.tieuDe{
    text-align: center;
    color: whitesmoke;
}
section{
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
} 
  /*Menu chinh  */
.nav{
    margin-right: 20px;
    width: 600px;
    display: block;
}
.menu li{
    list-style: none;
    background-color: rgb(139, 197, 255);
    border-bottom: 1px solid whitesmoke;
    position: relative;
}
.menu li a{
    text-decoration: none;
    display: block;
    font-size: 18px;
    padding: 10px 10px;
    color: whitesmoke;
}
.menu li:hover a{
    background-color: bisque;
    color: darkgreen;
}
/* Menu con */
.menu li ul{
    display: none;
}
.menu li ul{
    position: absolute;
    top: 0;
    left: 100%;
    background-color: yellowgreen;
    width: 150px;
}
.menu li:hover ul{
    display: block;
}
.menu li ul li{
    border-bottom: 1px solid whitesmoke;
}
.menu li ul li a{
    color: burlywood;
    padding: 10px;
}
.menu li ul li:hover a{
    background-color: aquamarine;
}
.mauTin{
    display: flex;
    margin: 20px 20px 0px 0px;
    flex-direction: column;
    gap: 20px;
}
.content p{
    margin-left: 10px;
    text-align: justify;
}
.aside{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.dk{
    text-align: center;
}
.aside table{
    width: 100%;
}
form{
    margin-top: 20px;
}
footer{
    width: 80%;
    background-color: rgb(95, 95, 95);
    color: whitesmoke;
    font-size: 18px;
    text-align: center;
    bottom: 0;
    position: fixed;
    padding: 5px;
}