*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    background-color: #00bfff;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    width: 125px;
}
.tieuDe{
   text-align: center;
   color:aliceblue;
}
/* Menu cap 1 */
.menu{
    background-color: #78ddff;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0px 200px;
}
.menu li{
    list-style: none;
    position: relative;
    /* padding: 10px 10px; */
}
.menu li > a{
    text-decoration: none;
    font-size: 18px;
    padding: 10px 10px;
    color: aliceblue;
    display: block;
}
.menu li :hover {
    background-color: #598493;
    color: rgb(255, 255, 255);
}
/* Menu c2 */
.menu li ul{
    position: absolute;
    top: 100%;
    left: 0;
    display: none ;
    background-color: #598493;
    width: 200px;
}
.menu li:hover ul{
    display: block;
}
.menu li ul li{
    list-style: none;
    border-bottom: 1px solid whitesmoke;
}
.menu li ul li a{
    text-decoration: none;
    padding: 10px 10px;
    display: block;
}
.menu li ul li:hover a{
    background-color:bisque;
    color: #598493;
}
section{
    display: flex;
    justify-content: space-between;

}
.ds{
    width: 700px;
    margin: 20px 20px 0px 30px;
}
.ds li{
    padding: 8px;
}
.ds li a{
    text-decoration: none;
    color: black;
}
.mauTin{
    display: block;
    margin: 0px 20px 0px 0px;
}
.mauTin1{
    display: flex;
    margin-top: 20px;
}
.tin{
    margin-left: 8px;
}
.aside{
    width: 700px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}
.aside table{
    width: 100%;
}
footer{
    text-align: center;
    background-color: rgb(69, 65, 65);
    color: whitesmoke;
    font-size: 18px;
    bottom: 0;
    position: fixed;
    width: 100%;
    padding: 3px;
}